// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{
	font-family: Georgia, "Times New Roman", serif;
	background-color: #DDD;
}
h1
{
	color: white;
	font-family: Helvetica, Geneva, Arial, sans-serif;
}