<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
	<header>
		<h1>Transporte Publico en Santiago</h1>
	</header>
	<%= yield %>
</body>
</html>